@import '../../../variables.module.scss';

.main {
    @include flex-column;
    width: 100%;
    height: 250px;
}


.cardGrid {
    display: grid;
    flex-grow: 1;
    grid-template-columns: repeat(11, 1fr);
    grid-auto-rows: 1fr;

    > div {
        @include flex;
        align-items: center;
        justify-content: center;
        
        border: 1px solid gray;
    }
}

.headerRow {
    background: $white-dark;
    font-weight: bold;
}

.scoreInput::-webkit-inner-spin-button,
.scoreInput::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.scoreInput {
    border: none;

    -moz-appearance: textfield; /* Firefox */
}



