@import './variables.module.scss';

.header {
    position: fixed;
    top: 0;
    height: $header-height;
    min-width: 100%;

    display: flex;
    align-items: center;
    background: $primary;
    color: $background;
    padding: $spacer-sm;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15);

    .pageTitle {
        font-weight: bold;
        font-size: 1.4em;
    }
}