@import './variables.module.scss';

.wrapper {
    @include flex;
    width: $sidebar-width;
    min-height: 100vh;
    padding-top: calc($header-height + $spacer-md);
    background: $grey-dark;
    color: $grey-light;
}

.nav {
    @include flex-column;
    flex-grow: 1;
}

.link {
    @include flex-column;
    justify-content: center;
    height: 35px;
    padding-left: $spacer-md;
    
    &.active {
        background: $grey-medium;
        color: $white-dark;
    }
}

