@import './variables.module.scss';

.wrapper {
    @include flex;
    width: $sidebar-width;
    min-height: 100vh;
    padding-top: calc($header-height + $spacer-md);
    background: $accent;
    color: $highlight;
}

.nav {
    @include flex-column;
    flex-grow: 1;
}

.link {
    @include flex;
    gap: 1em;
    align-items: center;
    height: 4em;
    padding-left: $spacer-md;
    
    &.active {
        background: rgba($highlight, .2);
    }

    svg {
        font-size: 1.5em;
    }
}

