// Colors
$text: #333;
$background: #fff;
$primary: #26a283;
$secondary: #13e5d5;
$accent: #0f1c3a;
$highlight: #cce5ff;
$muted: #f0f0f0;

$spacer-sm: 1em;
$spacer-md: 1.5em;
$spacer-lg: 3em;

$header-height: 60px;
$sidebar-width: 250px;

@mixin flex {
    display: flex;
}

@mixin flex-column {
    @include flex;
    flex-direction: column;
}